<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<div align="center">
<table cellpadding="5" cellspacing="5" style="text-align:center; font-size:20px;color:#0000FF">
{% for student in students %}
<tr>
<td>
{{ student.name }}
</td>
<td>
{{ student.url }}
</td>
<td>
{{ student.phone }}
</td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>
